* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Verdana', sans-serif;
  background: -webkit-linear-gradient(60deg, #121212,#181818);
  background: linear-gradient(60deg, #121212,#181818);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  position: relative;
  height: 80vh;
  border-radius: 40px;
  margin: 10px;
  cursor: pointer;
  color: white;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
  filter: grayscale(80%);
  opacity: 0.5;
}

.slide h3 {
  position: absolute;
  color: #fff;
  font-size: 30px;
  bottom: 30px;
  right: 30px;
  margin: 0;
  opacity: 0;
  border-radius: 5px;
}

.slide.active {
  flex: 12;
  opacity: 1;
  filter: grayscale(0);
}
  
.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 769px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .slide {
    flex: initial;
    height: calc(10vh - 20px);
    border-radius: 15px;
  }

  .slide.active {
    flex: initial;
    height: calc(50vh - 20px);
  }

  .slide h3 {
    font-size: 24px;
    bottom: 20px;
    right: 20px;
  }
}